NODE_ENV=development
PORT=8080
HOST=localhost

DATABASE_URL="mysql://root:soksan@localhost:3306/nest_typeorm"

ACCESS_TOKEN_SECRET=legacy_local_access_token_secret
REFRESH_TOKEN_SECRET=legacy_local_refresh_token_secret
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
ISSUER=AAS
ALGORITHM=HS256

# MOC OAuth
BASE_URL=https://uat-identity-api.moc.gov.kh
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
REDIRECT_URI=https://your-app.example.com/callback
